/* Variables */

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$sideBarWidth: 210px;
$menuHover:#fff;
$menuBg:#001529;
$menuText:#B3B9BF;
$menuActiveText:#1890FF;
$menuActiveBg: #000C17;
$subMenuBg:#000C17;
$subMenuActiveBg:#2D8CF0;
$subMenuActiveText:#fff;

$appMainBg: #F0F2F5;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText
}